---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="knit64 popup shop" description="Folkestone's most exciting crafty popup" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there!</h1>
			<p>
				Details coming soon
			</p>
		</main>
		<Footer />
	</body>
</html>
